adni_storage/
abide_storage/
cobre_storage/
corr_storage/
dlbs_storage/
fcon1000_storage/
ixi_storage/
oasis1_storage/
sald_storage/
nimh_storage/
camcan_storage/
bold_storage/
ants-2.6.1/
comparison_out/
LODO/model_dumps/
ropevit/
model_dumps/
pretrained/
processed_slices_32_filtered/
processed_slices_32/
vit_trained_bak/
maps_out_pre-post_mask/
bad_strips/
slice_images/
