adni_storage/
camcan_storage/
dlbs_storage/
fcon_storage/
ixi_storage/
ants/
model_dumps/
OASIS/
oasis_storage/
roi/
adni_storage/
abide_storage/
cobre_storage/
corr_storage/
dlbs_storage/
fcon1000_storage/
ixi_storage/
oasis1_storage/
sald_storage/
ants/
model_dumps/
pretrained/
medvit/
processed_slices/
vit_trained_bak/